TRACCAR_URL=https://demo4.traccar.org
TRACCAR_USERNAME=you@example.com
TRACCAR_PASSWORD=your_traccar_password

EMAIL_SENDER=you@example.com
EMAIL_RECEIVER=you@example.com
EMAIL_PASSWORD=your_gmail_app_password
